@charset "UTF-8";

* {
   font-family: 'Times New Roman', Times, serif;
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #501915;
    width: 600px;
    padding: 10px;
    margin: auto;
}

body {
    background-image: linear-gradient(to right, rgb(230, 112, 112), rgb(235, 72, 72));
}

p {
    text-align: ;
}